wishlistpizda.duckdns.org {
    encode gzip

    handle_path /static/* {
        reverse_proxy backend:8000
    }

    handle_path /api/* {
        reverse_proxy backend:8000
    }

    handle {
        reverse_proxy frontend:3000
    }

    log {
        output file /data/logs/access.log
    }
}
